<!DOCTYPE html>
<html>
  <head>
    <title>Photon</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="photon.css">

    <!-- Electron Javascript -->
    <script src="app.js" charset="utf-8"></script>
  </head>

  <body>
    <!-- Wrap your entire app inside .window -->
    <div class="window">
      <!-- .toolbar-header sits at the top of your app -->
      <header cl	ass="toolbar toolbar-header">
        <h1 class="title">Photos</h1>
      </header>

      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
        	<div class = "pane-sm sidebar">
            <a href = "example.js"><center><h3>Photos(local)</h3></center></a> 
            <hr>
            <a href = "example.js"><center><h4>Server</h4></center></a>
            <div style="position: absolute"><a href = "example.js">
                <h5 style="position: fixed; bottom: 5px; text-align: center"> Settings
                </h5></a>
            </div>
          </div>
        	<div class = "pane"></div>
        </div>
          
        </div>
      </div>
    </div>
  </body>
</html>